_white = #fff
_black = #000

.root
  flex-direction row
  justify-content center

.menu
  border-color _white
  border-width 1px
  border-bottom-width 0
  border-radius 1u 1u 0 0
  overflow hidden
  flex-direction row
  align-items center

.item
  padding 1.5u 1u
  border-left-width 1px
  border-left-color _white
  align-items center
  justify-content center
  opacity 1

  &.active
    background _white

  &.first
    border-left-width 0

  +tablet()
    padding 2u 5u

.itemText
  font-weight bold
  color _white
  font-size 1.5u
  +tablet()
    font-size 2u

  &.active
    color _black
