_white = #fff

.root
  align-items center

.title
  text-align center

.titleText
  max-width 70u
  color _white

.author
  align-items center
  margin-top 3u

.photo
  width 7u
  height 7u

.authorText
  margin-top 2u
  color _white

.button
  margin-top 4u
  border-radius 4u
  border-color _white
  color _white

.buttonText
  color _white

.ratingWrapper
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  align-items center

.rating
  align-items center
  margin-top 4u
  +tablet()
    margin-left 3u
  &.first
    margin-left 0

.stars
  margin-top 1u
  flex-direction row

.starText
  margin-left 1u
  color _white
