_white = #fff

.root
  align-items center

.container
  border-width 1px
  border-color #2f333d1f
  border-radius 1.5u
  align-items center
  padding 9u 3u 6u
  max-width 68u

.text
  text-align center
  margin-top 2u
  font-size 2u

.img
  width 229px
  height 144px
  margin-bottom -6u
  z-index 1

.button
  margin-top 4u
  color _white
  border-radius 4u
  background #268bff
  height 5u
