_lightGray = #0011661f
_blue = #268bff

.root
  margin-top 3u

.options
  margin-top 1u
  border-width 1px
  border-radius 1u
  border-color _lightGray

.option
  border-top-width 1px
  border-color _lightGray
  padding 1u 2u 1u 1u
  flex-direction row
  justify-content space-between
  align-items center
  flex-wrap wrap
  overflow hidden

  &.first
    border-top-width 0

.blueText
  color _blue

.right
  flex-direction row

.oldPrice
  margin-left 2u

.title
  font-size 2u

