_gray = #78819a
_blue = #268bff

.root
  align-items center
  position relative
  +tablet()
    align-items flex-start

.textBlock
  +tablet()
    max-width 88%

.priceBlock
  +tablet()
    position absolute
    top -3u
    right 0
    align-items flex-end

.title
  font-size 3u
  line-height 4u
  font-weight bold
  text-align center
  +tablet()
    text-align left

.text
  text-align center
  color _gray
  font-weight 200
  margin-top 1u
  +tablet()
    text-align left

.oldPrice
  margin-top 1u

.oldPriceLine
  height 1px
  width 4u
  background _gray
  margin-top - 1.5u

.price
  font-weight bold
  font-size 2u
  color _blue
  //margin-top 1u
