.root
  width 100%

  +tablet()
    width 45%

.list
  margin-top 3u

.item
  flex-direction row
  align-items center
  margin-top 2u

  &.first
    margin-top 0

.itemText
  margin-left 2u
  font-size 2u

.title
  font-size 3u
