_footerPrimary = $colors.blackGray
_logoPrimary = $colors.bg
_labelSecondary = $colors.secondary
_labelPrimary = $colors.bg
_shapeSize = 17px
_white = $colors.white
_description = $colors.description
_mobileBg = $colors.lightGray

.root
  background-color _footerPrimary
  width 100%
  +web()
    min-height 55px
    justify-content center
  +to($mobile)
    background-color white
  +native()
    flex-direction row
    justify-content space-around
    align-items center
    min-height 50px
    max-height 130px
    background-color white
  &-input
    +native()
      padding-top 0
      padding gutter(m)
      background-color _mobileBg
      flex-direction column
      justify-content center
  width 100%

.item
  padding 15px

.content
  padding gutter(s) gutter(m)
  max-width $Max-content-width
  width 100%
  margin 0 auto
  flex-direction row
  justify-content flex-end
  align-items center

.tab
  color _description
  font-size font(m)
  +web()
    transition all .2s linear
  +to($mobile)
    font-size font(s)

.menuItem
  flex-direction row
  align-items center
  margin 0 15px
  +to($mobile)
    margin 0 gutter(s)
  +web()
    transition all .2s linear
    &:hover
      .tab
        transition all .2s linear
        color #fff

.wide
  width 100%
