_white = #fff

.root
  flex-direction row
  align-items center
  padding 2u 0
  justify-content space-between
  width 100%

  +desktop()
    max-width 129u

.mobile
  +desktop()
    display none

.menu
  display none

  +desktop()
    display flex
    align-items flex-end

.logoImage
  width 200px
  height 98px

.logoText
  color _white

.desktop
  display none
  +desktop()
    display flex

.mobile
  +desktop()
    display none

.button
  color _white
  border-color _white
  border-radius 4u
