_footerPrimary = $colors.blackGray
_logoPrimary = $colors.bg
_labelSecondary = $colors.secondary
_labelPrimary = $colors.bg
_shapeSize = 17px
_white = $colors.white
_description = $colors.description
_mobileBg = $colors.lightGray

.root
  background-color _footerPrimary
  +web()
    min-height 64px
    justify-content center
  +to($mobile)
    background-color white
  +native()
    flex-direction row
    justify-content space-around
    align-items center
    height 68px
    background-color white
  &-input
    +native()
      padding-top 0
      padding gutter(m) 0
      padding-left 0
      height 55px
      background-color _mobileBg
      flex-direction column
      justify-content center
  width 100%

.item
  padding 15px
