_lightGray = #0011661f
_maxWidth = 129u

.root
  background #fff

.container
  align-items center
  width 100%

.bg
  height 38u
  padding 0 2u
  align-items center
  justify-content space-between
  width 100%

  +desktop()
    height 55u

.content
  margin 3u 2u
  padding 2u
  border-width 1px
  border-color _lightGray
  border-radius 1.5u
  max-width _maxWidth

  +tablet()
    padding 4u 5u

.responsiveContainer
  margin-top 5u
  +tablet()
    flex-direction row

.options
  width 100%
  margin-top 6u
  +tablet()
    width 55%
    margin-top 0

.wrapper
  padding 5u 4u
  width 100%
  align-items center
  &.blue
    background #268bff
  &.gray
    background #fafafa

.wrapperBlock
  width 100%
  max-width _maxWidth

.title
  text-align center

.optionsText
  font-size 3u
